<!DOCTYPE html>
<html>

<head>
	<title>Pago con tarjeta de crédito</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		form {
			max-width: 400px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		label {
			display: block;
			margin-bottom: 8px;
		}

		input[type="text"],
		input[type="number"],
		select {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			margin-bottom: 16px;
			font-size: 16px;
		}

		input[type="submit"] {
			background-color: #f44336;
			border: none;
			color: white;
			cursor: pointer;
			padding: 12px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			transition-duration: 0.4s;
			border-radius: 4px;
		}

		input[type="submit"]:hover {
			background-color: #d32f2f;
		}

		.expiry-container {
			display: inline-block;
		}

		.expiry-container select {
			width: auto;
			padding: 5px;
			font-size: 16px;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: white;
			color: #333;
		}

		.expiry-container span {
			padding: 0 10px;
			font-size: 16px;
			color: #333;
		}
	</style>
</head>

<body style="padding-top: 0.9cm;">
	<form>
		<label for="number">Txartela Zenbakia:</label>
		<input type="text" id="number" name="number" pattern="\d{4} \d{4} \d{4} \d{4}" required>

		<label for="expiry">Iraungitze Data:</label>
		<div class="expiry-container">
			<select id="expiry_month" name="expiry_month" required>
				<option value="">MM</option>
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<span>/</span>
			<select id="expiry_year" name="expiry_year" required>
				<option value="">YY</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
			</select>
		</div>

		<label for="cvv">CVV:</label>
		<input type="text" id="CVV" name="CVV" pattern='\d{3}' required>

		<input type="submit" value="Pagar">
	</form>
</body>

</html>