<html>

<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      max-width: 400px;
      width: 100%;
    }

    a {
      color: #333;
      text-decoration: none;
    }

    button,
    .button {
      background-color: #f44336;
      border: none;
      color: white;
      cursor: pointer;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      border-radius: 4px;
    }

    button:hover,
    .button:hover {
      background-color: #d32f2f;
    }

    .input-field {
      margin: 10px;
    }

    input[type="text"],
    input[type="password"] {
      border: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      padding: 10px;
      width: 100%;
    }

    input[type="submit"] {
      background-color: #f44336;
      border: none;
      color: white;
      cursor: pointer;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      border-radius: 4px;
    }

    input[type="submit"]:hover {
      background-color: #d32f2f;
    }

    li {
      list-style: none;
      color: crimson;
    }
  </style>
</head>

<body>
  <form action="/signup" method="post">
    <h2>Login</h2>
    <% if (error) {%>
      <li style="color: crimson;">
        <%=error%>
      </li>
      <% } %>
        <p></p>
        <div class="input-field">
          <input type="text" name="username" id="username" placeholder="Sartu Erabiltzaile Izena">
        </div>
        <p></p>
        <div class="input-field">
          <input type="password" name="password" id="password" placeholder="Sartu Pasahitza">
        </div>
        <p></p>
        <div class="input-field">
          <input type="password" name="password2" id="password2" placeholder="Errepikatu Pasahitza">
        </div>
        <p></p>
        <input type="submit" value="Sign Up">
  </form>
</body>

</html>